.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 1rem;
  display: flex;
  margin-left: 6rem;
  flex-grow: 1;
}

.input-area button {
  margin-right: 1rem;
}
