.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-area {
  margin: 1rem;
  display: flex;
  margin-left: 6rem;
  flex-grow: 1;
}

.input-area button {
  margin-right: 1rem;
}

.submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.progressbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progressbar:first-child {
  width: 80%;
}

.submit {
  display: flex;
  justify-content: space-around;
}

.green-check {
  color: rgb(34, 202, 34);
  margin-left: 0.3rem;
}
