<div id="newReleasesId" class="new-releases">
  <div class="search-bar">
    <mat-icon>search</mat-icon>

    <app-search (search)="filteredSongs($event)"></app-search>
  </div>
  <!-- Search Results -->
  <div>
    <!-- If no match -->
    <h3
      *ngIf="searchedSongs.length < 1 && searchTitle.length > 0"
      class="song-item animated fadeIn no-result"
    >
      Ups! no hay ninguna cancion o artista con ese nombre
    </h3>

    <!-- If match -->
    <h2
      class="new-releases__title"
      *ngIf="searchedSongs.length > 0 && searchTitle.length > 0"
    >
      Search Results
    </h2>
    <mat-list
      *ngIf="searchTitle.length > 0"
      class="new-releases__new-releases-section"
    >
      <app-song-item
        [song]="song"
        *ngFor="let song of searchedSongs"
      ></app-song-item>
    </mat-list>
  </div>
  <h2 class="new-releases__title">Songs</h2>

  <mat-list class="new-releases__new-releases-section">
    <app-song-item [song]="song" *ngFor="let song of songs"></app-song-item>
  </mat-list>
</div>
