.song-detail {
  padding: 5px;
  margin-top: 10px;
}

.song-detail img {
  max-width: 245px;
  max-height: 245px;
  margin-top: 8vmax;
}

.song-detail-container p {
  font-size: 13px;
  margin: 0;
  padding: 0;
  margin-left: 17px;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: #fff;
  margin-top: 1vmax;
}

::placeholder {
  color: #fff;
}

.section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.section input {
  margin-top: 3px;
}
.section p {
  align-items: center;
  align-content: center;
  margin-right: 5px;
}

.section mat-icon {
  position: absolute;
  left: 0px;
  transform: scale(0.7);
  margin-right: 8px;
}

.section mat-icon:hover {
  cursor: pointer;
}

.input {
  width: auto;
  font-weight: 5px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-left: 3px;
  margin-bottom: 5px;
  padding: 0 10px;
  align-items: center;
  align-content: center;
}

.btn {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.error {
  color: red;
}
