<form [formGroup]="songSection">
  <mat-list-item class="song-detail" *ngIf="song">
    <img src="{{ song.cover }}" alt="Portada album" />
    <button
      mat-flat-button
      class="play-button"
      color="accent"
      (click)="handlePlay()"
    >
      Play
    </button>
    <div class="sections">
      <p>Titulo:</p>

      <input
        class="input"
        type="text"
        formControlName="title"
        placeholder="{{ song.title }}"
        value="{{ song.title }}"
        (click)="setEditing()"
        required
      />
    </div>

    <p *ngIf="title && title.invalid" class="error">can't be empty</p>

    <div class="sections">
      <p>Autor:</p>

      <input
        class="input"
        type="text"
        formControlName="author"
        placeholder="{{ song.author }}"
        value="{{ song.author }}"
        required
        (click)="setEditing()"
      />
    </div>

    <p *ngIf="author && author.invalid" class="error">can't be empty</p>

    <div class="sections">
      <p>Grupo:</p>

      <input
        class="input"
        type="text"
        formControlName="group"
        placeholder="{{ song.group }}"
        value="{{ song.group }}"
        required
        (click)="setEditing()"
      />
    </div>
    <p *ngIf="group && group.invalid" class="error">can't be empty</p>

    <div class="sections">
      <p>Genero:</p>
      <input
        class="input"
        type="text"
        formControlName="genre"
        placeholder="{{ song.genre }}"
        value="{{ song.genre }}"
        required
        (click)="setEditing()"
      />
      <p *ngIf="genre && genre.invalid" class="error">can't be empty</p>
    </div>

    <div class="sections">
      <p>Album:</p>
      <input
        class="input"
        type="text"
        formControlName="album"
        placeholder="{{ song.album }}"
        value="{{ song.album }}"
        required
        (click)="setEditing()"
      />
    </div>
    <p *ngIf="album && album.invalid" class="error">can't be empty</p>

    <div class="sections">
      <p>BPM:</p>
      <input
        class="input"
        type="text"
        placeholder="{{ song.bpm }}"
        value="{{ song.bpm }}"
        disabled
      />
    </div>
    <div class="sections">
      <p>Duracion:</p>
      <input
        class="input"
        type="text"
        placeholder="{{ song.length }}"
        disabled
      />
    </div>

    <div class="sections">
      <p>Ano:</p>
      <input class="input" type="text" placeholder="{{ song.year }}" disabled />
    </div>
    <p *ngIf="year && year.invalid" class="error">can't be empty</p>
  </mat-list-item>
</form>

<button
  *ngIf="editing"
  mat-raised-button
  color="primary"
  class="btn"
  (click)="changeSongData()"
>
  Confirmar cambios
</button>
<button
  *ngIf="editing"
  mat-raised-button
  color="primary"
  class="btn"
  (click)="cancel()"
>
  Cancelar
</button>
