.player {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex-start;
}

.now-playing {
  margin-left: 20px;
}

.player-icons {
  display: flex;
  align-content: center;
}

.slider {
  display: block;
  align-content: center;
}

.volume {
  position: absolute;
  left: 20px;
  justify-content: center;
  padding: 5;
  margin: 4;
}

.volume-icon {
  transform: scale(0.5);
}

.volume-slider {
  margin-left: 5;
}

.material-icons {
  height: 36px;
  width: 36px;
  font-size: 36px;
}

.play {
  position: absolute;
  left: 200px;
  top: 320px;
}

.material-icons:hover {
  cursor: pointer;
}
