<aside class="aside">
  <div class="aside__title">
    <img
      class="aside__img"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1920px-Angular_full_color_logo.svg.png"
      alt="angular image"
    />
    Angular - P4
    <div class="add-song">
      <p (click)="openDialog('0ms', '0ms')">Add Song</p>

      <mat-icon
        (click)="openDialog('0ms', '0ms')"
        color="accent"
        class="add-song-item"
        >add</mat-icon
      >
    </div>
  </div>

  <div *ngIf="displaySong" class="song-player">
    <app-song-detail (playClicked)="appPlayer.playStream()" [song]="song"></app-song-detail>
    <app-player #appPlayer [song]="song"></app-player>
  </div>
</aside>
