.search-box {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  padding: 10px;
}
.search-box img {
  align-items: center;
  align-content: center;
  margin-right: 5px;
}

.input {
  width: auto;
  font-weight: 5px;
  border: none;
  outline: none;
  border-radius: 25px;
  margin-left: 3px;
  margin-bottom: 5px;
  padding: 0 10px;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}
