<form [formGroup]="newSongSection">
  <div class="input-fields">
    <p>Add your own song!</p>

    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input
        value="{song.year}"
        matInput
        [formControl]="title"
        autocomplete="off"
      />
      <mat-error *ngIf="title.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Author</mat-label>
      <input matInput [formControl]="author" autocomplete="off" />
      <mat-error *ngIf="author.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Group</mat-label>
      <input matInput [formControl]="group" autocomplete="off" />
      <mat-error *ngIf="group.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Album</mat-label>
      <input matInput [formControl]="album" autocomplete="off" />
      <mat-error *ngIf="album.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Year</mat-label>
      <input
        value="{song.year}"
        matInput
        [formControl]="year"
        autocomplete="off"
      />
      <mat-error *ngIf="year.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>BPM</mat-label>
      <input matInput [formControl]="bpm" autocomplete="off" />
      <mat-error *ngIf="bpm.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Length</mat-label>
      <input matInput [formControl]="length" autocomplete="off" />
      <mat-error *ngIf="length.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Genre</mat-label>
      <input matInput [formControl]="genre" autocomplete="off" />
      <mat-error *ngIf="genre.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div class="submit">
    <button mat-raised-button color="primary" (click)="onEditSong()">
      Submit
    </button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">
      Cancel
    </button>
  </div>
</form>
